<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5 text-center text-lg-left">About me</h1>
        <hr>
        <p class="lead capitalize text-justify">
            <img src="assets/images/nate-headshot.jpg" alt="Nate Micinski Headshot" class="rounded float-left mr-3">
            My name is Nate and I am a developer for both financial causes and user-focused web applications. A graduate
            of the
            UCLA Extension Full-Stack Bootcamp I am versed in HTML, CSS, Bootstrap, Handlebars, JavaScript, Node.js,
            Express.js,
            jQuery, MySQL, Git, and GitHub.
            <br>
            <br>
            The things I build focus on their essence. Whether it is a website, application, or program, I believe a
            project
            works best when it does what it’s supposed to in a simple, uncluttered way.
            <br>
            <br>
            I have over five years of experience in nonprofits building positive and genuine donor relationships through
            thoughtful, tactful, and empathic relationship management. I bring this same attention to detail and
            authentic
            communication to my web development.
            <br>
            <br>
            I’m a quick learner, a clear communicator, supportive and collaborative with my team, and a leader amongst
            my peers.
            As a web developer, I prioritize attention to detail and have a passion for building products that make
            users' lives
            better.
            <br>
            <br>
            <a href="/assets/files/Nate_Micinski_Resume_2019.pdf" target="_blank">Check
                out my resume here.</a>
            <br>
            <br>
        </p>
    </div>
</main>

<script>
    $(document).ready(function () {
        // Revert all to white
        $(".nav-link").removeClass("active-nav");
        $(".nav-link").addClass("nav-items")
        // Set clicked to black
        $("#a").removeClass("nav-items");
        $("#a").addClass("active-nav");
    });
</script>