<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5 text-center text-lg-left">Keep in touch</h1>
        <hr>
        <div class="row">
            <div class="col text-center p-4">
                <a href="https://github.com/DearLorditsNate" target="_blank"><i
                        class="fab fa-github body-icons"></i><span class="body-text">Github</span></a>
            </div>
        </div>

        <div class="row">
            <div class="col text-center p-4">
                <a href="https://www.linkedin.com/in/nate-micinski-565666112/" target="_blank"><i
                        class="fab fa-linkedin-in body-icons" aria-hidden="true"></i><span
                        class="body-text">LinkedIn</span></a>
            </div>
        </div>

        <div class="row">
            <div class="col text-center p-4 mt-3">
                <a href="mailto:nmicinski@gmail.com"><i class="fas fa-envelope body-icons" aria-hidden="true"></i><span
                        class="body-text">Email</span></a>
            </div>
        </div>

        <div class="row">
            <div class="col text-center p-4">
                <a href="tel:+1-424-262-2566" target="_blank"><i class="fas fa-phone body-icons"></i><span
                        class="body-text">(424) 262-2566</span></a>
            </div>
        </div>
    </div>
</main>