<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5 text-center text-lg-left">Portfolio Projects</h1>
        <hr>
        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/yumme.png" class="card-img-top" alt="Screen capture of yumme app">
                    <div class="card-body">
                        <p class="card-text text-center">Yum(Me) | Recipe App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/Yum-me"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links" href="https://www.yumme.recipes"
                            target="_blank"><i class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/traveler-check.png" class="card-img-top"
                        alt="Screen capture of traveler check app">
                    <div class="card-body">
                        <p class="card-text text-center">Traveler Check | Travel App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/TravelerCheck"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/TravelerCheck/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/burger.png" class="card-img-top" alt="Screen capture of Eat Da Burger app">
                    <div class="card-body">
                        <p class="card-text text-center">Eat Da Burger | Node.js, Express.js, MySQL, and Handlebars
                            App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/burger"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://nates-burger.herokuapp.com/" target="_blank"><i class="fas fa-desktop"></i>
                            Site</p></a>
                    </div>
                </div>
            </div>

            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/friend-finder.png" class="card-img-top"
                        alt="Screen capture of Friend Finder app">
                    <div class="card-body">
                        <p class="card-text text-center">Friend Finder | Node.js and Express.js App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/FriendFinder"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://nates-friend-finder.herokuapp.com/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/liri.png" class="card-img-top" alt="Screen capture of LIRI CLI app"
                        style="max-height: 223px;">
                    <div class="card-body">
                        <p class="card-text text-center">LIRI | Node.js CLI App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/liri-node-app"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links" href="https://youtu.be/Ru-dd_VgaQU"
                            target="_blank"><i class="fas fa-desktop"></i>
                            Site</p></a>
                    </div>
                </div>
            </div>

            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/bamazon.png" class="card-img-top" alt="Screen capture of Bamazon CLI app"
                        style="max-height: 223px;">
                    <div class="card-body">
                        <p class="card-text text-center">Bamazon | Node.js and MySQL CLI App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/bamazon"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links" href="https://youtu.be/kiASpu2PJeo"
                            target="_blank"><i class="fas fa-desktop"></i>
                            Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/hangman.png" class="card-img-top" alt="Screen capture of hangman game">
                    <div class="card-body">
                        <p class="card-text text-center">Star Words | JS Hangman Game</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/Word-Guess-Game"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/Word-Guess-Game/" target="_blank"><i
                                class="fas fa-desktop"></i>
                            Site</p></a>
                    </div>
                </div>
            </div>

            <!-- Start column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/rpg.png" class="card-img-top"
                        alt="Screen capture of crystal collector game">
                    <div class="card-body">
                        <p class="card-text text-center">CrystalCollector | JS Number Game</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/unit-4-game"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a>&nbsp; &nbsp;<a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/unit-4-game/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/trivia.png" class="card-img-top" alt="Screen capture of trivia game">
                    <div class="card-body">
                        <p class="card-text text-center">Tatooine Trivia | JS Trivia Game</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/TriviaGame"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a>&nbsp; &nbsp;<a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/TriviaGame/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>

            <!-- Start column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/gif-tastic.png" class="card-img-top" alt="Screen capture of gif app">
                    <div class="card-body">
                        <p class="card-text text-center">GifTastic | Giphy API UI</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/GifTastic"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/GifTastic/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

        <!-- Start Row -->
        <div class="row mb-4">
            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/train-time.png" class="card-img-top"
                        alt="Screen capture of train time app">
                    <div class="card-body">
                        <p class="card-text text-center">Train Time | Firebase App</p>
                        <hr>
                        <a class="text-decoration-none links" href="https://github.com/DearLorditsNate/TrainTime"
                            target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://dearlorditsnate.github.io/TrainTime/" target="_blank"><i
                                class="fas fa-desktop"></i> Site</p></a>
                    </div>
                </div>
            </div>

            <!-- Start Column -->
            <div class="col-12 col-lg-6 mt-3">
                <div class="card d-block m-auto w-75">
                    <img src="/assets/images/node-hangman.png" class="card-img-top"
                        alt="Screen capture of Node.js Hangman CLI app" style="max-height: 223px;">
                    <div class="card-body">
                        <p class="card-text text-center">CLI Hangman | Node.js CLI App</p>
                        <hr>
                        <a class="text-decoration-none links"
                            href="https://github.com/DearLorditsNate/constructor-word-guess" target="_blank">
                            <p class="card-text text-center"><i class="fab fa-github"></i> Source
                        </a> &nbsp; &nbsp; <a class="text-decoration-none links"
                            href="https://github.com/DearLorditsNate/constructor-word-guess" target="_blank"><i
                                class="fas fa-desktop"></i>
                            Site</p></a>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>

    </div>
</main>